<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.derich.bizwiz">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bizwiz"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bizwiz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.MpesaLogs"></activity>
        <activity android:name=".clients.DeleteClient" />
        <activity android:name=".syncFromServer.ShowData" />
        <activity android:name=".syncFromServer.Main" />
        <activity
            android:name=".clients.importContactClient"
            android:noHistory="true" />
        <activity android:name=".mpesa.ClosingCash" />
        <activity android:name=".mpesa.ReductedCash" />
        <activity android:name=".mpesa.ReductedFloat" />
        <activity android:name=".mpesa.AddedCash" />
        <activity android:name=".mpesa.AddedFloat" />
        <activity android:name=".mpesa.OpeningFloat" />
        <activity android:name=".mpesa.OpeningCash" />
        <activity android:name=".syncFromServer.Syncronization" />
        <activity android:name=".credentials.UserSyncronization" />
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mpesa.Mpesa"
            android:label="@string/Mpesa" />
        <activity android:name=".activities.Transactions" />
        <activity android:name=".products.SpinnerProducts" />
        <activity android:name=".products.ProductsOffered" />
        <activity android:name=".products.UpdateProducts" />
        <activity android:name=".sales.ClearDebt" />
        <activity android:name=".sales.PaidSale" />
        <activity android:name=".clients.AllClients" />
        <activity android:name=".sales.Sales" />
        <activity
            android:name=".credentials.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clients.ClientsDebts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sales.AddDebt"
            android:label="@string/add_debt_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credentials.RegisterActivity"
            android:label="@string/register_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credentials.ForgotPassword"
            android:label="@string/reset_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credentials.ConfirmPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clients.ClientsDetails"
            android:label="@string/add_client"
            android:screenOrientation="portrait" />
        <activity
            android:name=".products.BackupData"
            android:label="@string/add_product"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clients.ViewClient"
            android:label="@string/clients"
            android:screenOrientation="portrait" />

        <receiver android:name=".activities.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".syncadapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".syncadapter.StubProvider"
            android:authorities="com.example.derich.bizwiz.provider"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".syncadapter.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>