<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.derich.bizwiz">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".syncFromServer.UnsyncedData"
            android:label="Unsynced Data"></activity>
        <activity android:name=".activities.SalesTransactions"
            android:label="Sales Transactions"/>
        <activity android:name=".sales.DailyReport"
            android:label="Daily Reports"/>
        <activity android:name=".sales.OpeningCashSales"
            android:label="Opening Cash"/>
        <activity android:name=".sales.Statistics"
            android:label="Stats"/>
        <activity android:name=".products.DisplayProducts"
            android:label="Products" />
        <activity android:name=".products.DeleteProduct"
            android:label="Delete Product"/>
        <activity android:name=".activities.MpesaLogs"
            android:label="Mpesa Logs"/>
        <activity android:name=".clients.DeleteClient"
            android:label="Delete a Client"/>
        <activity
            android:name=".syncFromServer.Main"
            android:noHistory="true" />
        <activity
            android:name=".clients.importContactClient"
            android:noHistory="true" />
        <activity android:name=".mpesa.ClosingCash"
            android:label="Closing Cash"/>
        <activity android:name=".mpesa.ReductedCash"
            android:label="Reducted Cash"/>
        <activity android:name=".mpesa.ReductedFloat"
            android:label="Reducted Float"/>
        <activity android:name=".mpesa.AddedCash"
            android:label="Added Cash"/>
        <activity android:name=".mpesa.AddedFloat"
            android:label="Added Float"/>
        <activity android:name=".mpesa.OpeningFloat"
            android:label="Opening Float"/>
        <activity android:name=".mpesa.OpeningCash"
            android:label="Opening Cash"/>
        <activity
            android:name=".syncFromServer.Syncronization"
            android:label="Sync "
            android:noHistory="true" />
        <activity
            android:name=".credentials.UserSyncronization"
            android:label="Sync Users"
            android:noHistory="true" />
        <activity
            android:name=".activities.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mpesa.Mpesa"
            android:label="@string/Mpesa" />
        <activity android:name=".activities.Transactions"
            android:label="Transactions"/>
        <activity android:name=".products.SpinnerProducts" />
        <activity android:name=".products.ProductsOffered"
            android:label="Products Offered"/>
        <activity android:name=".products.UpdateProducts"
            android:label="Update Products"/>
        <activity android:name=".sales.ClearDebt"
            android:label="Clear Debt"/>
        <activity android:name=".sales.PaidSale"
            android:label="Cash Sale"/>
        <activity android:name=".clients.AllClients"
            android:label="Clients"/>
        <activity android:name=".sales.Sales"
            android:label="Sales"/>
        <activity
            android:name=".credentials.LoginActivity"
            android:noHistory="true"
            android:label="BizWiz">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sales.AddDebt"
            android:label="@string/add_debt_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credentials.RegisterActivity"
            android:label="@string/register_user"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credentials.ForgotPassword"
            android:label="@string/reset_password"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credentials.ConfirmPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clients.ClientsDetails"
            android:label="@string/add_client"
            android:screenOrientation="portrait" />
        <activity
            android:name=".products.BackupData"
            android:label="@string/add_product"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clients.ViewClient"
            android:label="@string/clients"
            android:screenOrientation="portrait" />

        <receiver android:name=".activities.NetworkStateChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".syncadapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".syncadapter.StubProvider"
            android:authorities="com.example.derich.bizwiz.provider"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".syncadapter.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>